n8n-workflows/telegram-asemb-bot.json
{
  "name": "Telegram Bot with ASEM",
  "nodes": [
    {
      "parameters": {
        "botToken": "={{ $credentials.telegram.botToken }}"
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "/search"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Check Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ $json.text.replace('/search ', '') }}",
        "limit": 5,
        "threshold": 0.6
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "ASEMB Search",
      "type": "n8n-nodes-asemb.PgvectorQuery",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "process",
        "content": "={{ $json.text }}",
        "metadata": "{{ { source: 'telegram', userId: $json.from.id, chatId: $json.chat.id } }}"
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "ASEMB Process",
      "type": "n8n-nodes-asemb.AliceSemanticBridge",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat.id }}",
        "text": "🔍 *Arama Sonuçları:*\n\n{{ $json.searchResults.map((r, i) => `${i+1}. ${r.content.slice(0, 200)}...`).join('\n\n') }}",
        "options": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat.id }}",
        "text": "✅ Mesajınız işlendi ve veritabanına eklendi!"
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Command": {
      "main": [
        [
          {
            "node": "ASEMB Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ASEMB Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASEMB Search": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASEMB Process": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}