n8n-workflows/whatsapp-asemb-bot.json
{
  "name": "WhatsApp Bot with ASEM",
  "nodes": [
    {
      "parameters": {},
      "id": "1f3b8c4e-5d6a-4f8e-9b2a-3c7d9e1f5a8b",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "operation": "process",
        "content": "={{ $json.body.message.body }}",
        "metadata": "{{ { source: 'whatsapp', userId: $json.body.from } }}"
      },
      "id": "2e4d9f6a-7c8b-4e5d-9f1a-2b3c4d5e6f7a8",
      "name": "ASEMB Process",
      "type": "n8n-nodes-asemb.AliceSemanticBridge",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ $json.body.message.body }}",
        "limit": 5,
        "threshold": 0.7
      },
      "id": "3b5e0a7f-8d9c-4e6f-a1b2-3c4d5e6f7a8b9",
      "name": "ASEMB Search",
      "type": "n8n-nodes-asemb.PgvectorQuery",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "{{ $credentials.whatsapp.phoneNumberId }}",
        "to": "={{ $json.body.from }}",
        "messageType": "text",
        "text": "={{ $json.searchResults.map(r => r.content).join('\n\n') }}"
      },
      "id": "4c6f1b8e-9e0d-4f7a-b2c3-4d5e6f7a8b9c0",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.whatsappBusiness",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "ASEMB Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASEMB Process": {
      "main": [
        [
          {
            "node": "ASEMB Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASEMB Search": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}